body, html {
    height: 100vh;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: inherit;
}

#score-display {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#score {
    display: flex;
    width: 10rem;
    justify-content: space-evenly;
    margin-top: 1rem;
}


#user {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#computer {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(15px);
}

#display-message {
    text-align: center;
    height: 1.5rem;
}

#restart {
    width: 4rem;
    height: 1.5rem;
    visibility: hidden;

}