body, html {
    height: 100vh;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: inherit;
}

#score {
    display: flex;
    width: 10rem;
    justify-content: space-evenly;
    margin-top: 1rem;
}


#user {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#computer {
    display: flex;
    flex-direction: column;
    align-items: center;
}