body, html {
    height: 100vh;
    background-color: black;
    color: white;
}

#beginning-container {
    position: fixed;
    top: 0%;
    width: 100vw;
    height: 100vh;
}

#blinking-cursor {
    height: 5%;
    width: 2%;
    position: fixed;
    top: 46%;
    left: 48%;
    background-color: #1fc04c;
    animation-name: blinks;
    animation-duration: 9s;
    animation-timing-function: step-start;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}

@keyframes blinks {
    5%   {opacity: 0;}
    10%  {opacity: 1;}
    15%  {opacity: 0;}
    20%  {opacity: 1;}
    25%  {opacity: 0;}
    30%  {opacity: 1;}
    36%  {opacity: 0;}
    42%  {opacity: 1;}
    48%  {opacity: 0;}
    54%  {opacity: 1;}
    61%  {opacity: 0;}
    70%  {opacity: 1;}
    79%  {opacity: 0;}
    88%  {opacity: 1;}
    100% {opacity: 0;}
}

.comp-text {
    position: fixed;
    top: 47.5%;
    left: 37%;
}




#main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: inherit;
    visibility: hidden;
}

p#permission-message strong {
   font-weight: bold; 
}

#music-permission {
    position: fixed;
    display: flex;
    top: 0%;
    width: 100%;
    height: 150px;
    background-color: rgba(255, 153, 153, 0.9);
    z-index: 1;
    justify-content: center;
    align-items: center;
    
}

#permission-message {
    font-size: 40px;
    color: black;
}

.permission-btn {
    width: 4rem;
    height: 1.5rem;
    width: 150px;
    height: 50px;
    font-size: 25px;
    background-color: #d6c4c4;
    margin: 0px 20px;
}

#main-header {
    text-align: center;
    font-size: 80px;
    letter-spacing: 4px;
    margin-top: 60px;
}

#scythe-left {
    height: 100px;
    transform: scale(2) rotate(10deg) skewX(-20deg)translateX(-15px);
}

#scythe-right {
    height: 100px;
    transform: scale(2) rotate(-10deg) skewX(20deg)translateX(10px);
    
}

#first-line-header {
    color: red;
    font-size: 40px;
}

#sub-heading {
    font-size: 40px;
    margin-top: 30px;
}

#rps-icons {
    display: flex;
    width: 1000px;
    margin-top: 30px;
    justify-content: space-evenly;
}

.btn {
    width: 250px;
    height: 250px;
    background-color: tan;
    background-size: contain;
    border-radius: 40px;
    transition: box-shadow 0.05s, transform 0.01s;
    border-style: solid;
}

.btn:hover {
    box-shadow: rgb(209 206 9) 0px 22px 70px 4px, rgb(209 206 9) 0px -22px 70px 4px;
}


.btn:active {
    transform: translateY(40px);
}

.rock {
    background-image: url("/imgs/rock.png");
} 

.paper {
    background-image: url("/imgs/paper.png");
}

.scissors {
    background-image: url("/imgs/scissors.png");
}

#bottom-display {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

#user-display, #computer-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-start;
    width: 20%;
    font-size: 40px;
}

#user-play, #computer-play {
    visibility: hidden;
    width: 400px;
}

.user-play-icon {
    transform: scale(0.1);
    transition: all 1s;
}

.emerging-element {
    transform: scale(1);
}

.remove-transition {
    transition: none;
}

#user-play {
    transform: translateX(15px);
}

#user-icon {
    transform: translateY(15px);
}

#computer-icon {
    height: 300px;
}

#computer-play {
    transform: translateX(-30px);
}

#computer-display {
    transform: translateX(-10px);
}

#score-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-start;
    width: 300px;
    transform: translateY(90px);
}

#score {
    display: flex;
    width: 10rem;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1rem;
    font-size: 20px;
    margin-bottom: 10px;
}

#user-tally, #computer-tally {
    font-size: 80px;
    transition: all 0.2s;
}

.tally-animation {
    transform: scale(1.4);
}

#display-message {
    text-align: center;
    font-size: 40px;
    width: 100%;
    margin-bottom: 20px;
}

#restart {
    width: 4rem;
    height: 1.5rem;
    visibility: hidden;
    width: 150px;
    height: 50px;
    font-size: 25px;
    background-color: #ff9999;
}

#restart:hover {
    box-shadow: rgb(209 206 9) 0px 22px 70px 4px, rgb(209 206 9) 0px -22px 70px 4px;
}
